@import "../_variables.scss";

.hero-carrier {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.657),
      rgba(10, 10, 10, 0.787)
    ),
    url("../assets/happy.webp");
  .hero-inner {
    padding: 4rem 0;

    h2 {
      font-family: $Roboto;
      font-size: 4rem;
    }
    .hero-bottom {
      margin-top: 13rem;
      .line {
        width: 55%;
        height: 1px;
        background-color: $white;
      }
    }
  }
}

.middle-item {
  margin-top: 8rem;
  h5 {
    font-size: 1rem;
  }
  .middle-first {
    margin-top: 10rem;
    h4 {
      font-size: 3rem;
      font-weight: bold;
    }
    p {
      font-size: 1rem;
    }
  }
  .middle-inner-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.649)),
      url("../assets/happy.webp");
    height: 100vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .support-line {
    width: 86%;
    height: 1px;
    background-color: $black;
  }
}

.service_carrier {
  background-color: $medium;
  height: 115vh;
  margin-top: 4rem;

  .service-inner {
    margin-top: 4rem;
    h4 {
      font-size: 3rem;
    }
    p {
      font-size: 16px;
    }

    .service-list {
      margin-top: 2rem;
      .serv-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .serv-icon {
          height: 40px;
          width: 40px;
          background-color: $black;
          color: $medium;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          border-radius: 4px;
        }
        .serv-text {
          h5 {
            font-size: 1.5rem;
            font-weight: bold;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .head-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem;
    margin-top: 40px;
    img {
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
      object-position: 58% center;
      width: 100%;
    }
  }
}

.projects {
  margin-top: 10rem;
  .intro-text {
    h4 {
      font-size: 3rem;
    }
  }

  .project-list {
    margin-top: 3rem;
    .mission {
      height: 350px;
      border-radius: 30px;
      width: 100%;
      padding: 10px;
      display: flex;
      // flex-direction: column;
      align-items: center;

      color: $white;
      &.mission {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.587),
            rgba(0, 0, 0, 0.586)
          ),
          url("../assets/mission.webp");
      }
      &.excursion {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.587),
            rgba(0, 0, 0, 0.586)
          ),
          url("../assets/excort.avif");
      }
      &.awareness {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.587),
            rgba(0, 0, 0, 0.586)
          ),
          url("../assets/seminar.jpg");
      }
      .miss-btn {
        margin: 30px 0 30px 0;
      }
    }
  }
}

.donations {
  margin-top: 9rem;
  background-color: $black;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .donations_inner {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .left-title {
      position: relative;
      top: 30px;
      h5 {
        font-size: 3rem;
      }
      p {
        word-wrap: break-word;
        color: $white;
        text-align: justify;
      }

      .graph-explaination {
        position: relative;
        top: 30px;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        grid-auto-rows: 1;

        line-height: 2;
        .graph-control {
          display: flex;
          align-items: center;
          // justify-content: center;
          .graph-text {
            color: $white;
          }
          .graph-box {
            height: 20px;
            width: 20px;
            border-radius: 5px;
            &.bg-grey {
              background-color: grey;
            }
            &.bg-pink {
              background-color: pink;
            }
          }
        }
      }
    }

    .graph-circle {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      background: $white;
      padding: 9px;
      display: flex;
      align-items: center;
      justify-content: center;

      .graph-inner {
        background-color: $black;
        height: 170px;
        width: 170px;
        border-radius: 50%;
      }
    }
  }
}

.journey-carrier {
  .journey {
    margin-top: 4rem;
    border-radius: 10px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.676),
        rgba(0, 0, 0, 0.674)
      ),
      url("../assets/mission.webp");
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .journey-inner {
      align-items: center;
      justify-content: center;
      text-align: center;
      h4 {
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
  .events {
    margin-top: 5rem;
    h5 {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .calendar-box {
      height: 100px;
      border-radius: 10px;
      background-color: $volBtn;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      font-weight: bold;
      .calendar-inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .date {
          position: relative;
          bottom: 10px;
          h5 {
            font-size: 1.5rem;
            span {
              font-size: 18px;
            }
          }
        }
        .day-title {
          font-weight: bold;
          font-size: 1rem;
        }
        .calendar_btn {
          border-radius: 50%;
          height: 35px;
          width: 35px;
          background-color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          a {
            color: $black !important;
          }
        }
      }
    }
  }
}

// about page

.about-intro {
  margin-top: 4rem;
  h5 {
    font-size: 1rem;
    font-family: $Roboto;
  }
  h4 {
    font-size: 3rem;
    font-family: $Roboto;
  }
  p {
    text-align: justify;
    font-family: $Roboto;
  }
}
.statements {
  background-color: $medium;
  margin-top: 20rem;
  .people {
    position: relative;
    bottom: 180px;
    right: 0;
    left: 0;
    cursor: pointer;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.537),
        rgba(0, 0, 0, 0.585)
      ),
      url("../assets/people.jpeg");
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: $white;
  }

  .statement-inner {
    margin-top: -3rem;
    text-align: justify;
    color: $black;
    h5 {
      font-size: 1.5rem;
    }
  }
}
.awards {
  margin-top: 4rem;
  text-align: center;
  .awards-text {
    font-size: 3rem;
    font-weight: bold;
  }
}

.milestone {
  background-color: $volBtn;
  margin-top: 10rem;
  border-radius: 20px;
  .mile-inner {
    padding: 70px;
    h5 {
      font-size: 1rem;
    }
    h4 {
      font-size: 3rem;
    }
    p {
      text-align: justify;
    }
  }
  .journey-image {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

.teams {
  margin-top: 9rem;
}
// About page style ends

// MEDIA QUERIES
@media screen and (max-width: 320px) {
}

@media screen and (max-width: 480px) {
  .about-intro {
    h5 {
      font-size: 1rem;
      font-family: $Roboto;
    }
    h4 {
      font-size: 2rem;
      font-family: $Roboto;
    }
  }

  .statements {
    margin-top: 10rem;
    .people {
      position: relative;
      bottom: 95px;
      height: 20vh;
    }

    .statement-inner {
      h5 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  .awards {
    .awards-text {
      font-size: 1.4rem;
    }
  }

  .milestone {
    .mile-inner {
      padding: 20px;
      h4 {
        font-size: 2rem;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .journey-carrier {
    .journey {
      .journey-inner {
        h4 {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
  }
  .hero-carrier {
    .hero-inner {
      h2 {
        font-size: 3rem;
      }
      .hero-bottom {
        p {
          font-size: 16px;
        }
        .line {
          width: 50%;
        }
      }
    }
  }

  .middle-item {
    margin-top: 4rem;
    h5 {
      font-size: 18px;
    }
    .middle-inner-img {
      height: 50vh;
    }
    .middle-first {
      h4 {
        font-size: 2rem;
      }
      p {
        font-size: 18px;
        text-align: justify;
      }
    }
    .support-line {
      width: 70%;
    }
  }

  .service_carrier {
    height: 120vh;
    .service-inner {
      h4 {
        font-size: 2rem;
      }
      .service-list {
        .serv-list-item {
          .serv-text {
            // h5{

            // }
            p {
              text-align: justify;
            }
          }
        }
      }
    }
    .head-img {
      display: none;
    }
  }

  .projects {
    .intro-text {
      h4 {
        font-size: 1.5rem;
      }
    }
  }

  .donations {
    .donations_inner {
      .left-title {
        h5 {
          font-size: 2rem;
        }
      }
      // .graph-explaination {
      //   .graph-control {
      //     //  flex-wrap: wrap;
      //     .graph-text {
      //       font-size: 12px;
      //     }
      //     .graph-box {
      //       height: 50px;
      //       width: 50px;
      //     }
      //   }
      // }
    }
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .service_carrier {
    height: 125vh;
  }
}
