@import "../_variables.scss";

.hero-carrier {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.657),
      rgba(10, 10, 10, 0.787)
    ),
    url("../assets/happy.webp");
  .hero-inner {
    padding: 4rem 0;

    h2 {
      font-family: $Roboto;
      font-size: clamp(4rem, 14px, 1rem);
    }
    .hero-bottom {
      margin-top: 13rem;
      .line {
        width: 55%;
        height: 1px;
        background-color: $white;
      }
    }
  }
}

.middle-item {
  margin-top: 8rem;
  .middle-first {
    margin-top: 10rem;
    h4 {
      font-size: clamp(2.5rem, 24px, 1rem);
      font-weight: bold;
    }
    p {
      font-size: 1rem;
    }
  }
  .middle-inner-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.649)),
      url("../assets/happy.webp");
    height: 100vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .support-line {
    width: 86%;
    height: 1px;
    background-color: $black;
  }
}

.service_carrier {
  background-color: $medium;
  height: 115vh;
  margin-top: 4rem;

  .service-inner {
    margin-top: 4rem;
    h4 {
      font-size: clamp(2rem, 24px, 1rem);
    }
    p {
      font-size: 16px;
    }

    .service-list {
      margin-top: 2rem;
      .serv-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .serv-icon {
          height: 40px;
          width: 40px;
          background-color: $black;
          color: $medium;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          border-radius: 4px;
        }
        .serv-text {
          h5 {
            font-size: clamp(2rem, 24px, 1rem);
            font-weight: bold;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .head-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem;
    margin-top: 40px;
    img {
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
      object-position: 58% center;
      width: 100%;
    }
  }
}

.projects {
  margin-top: 10rem;
  .intro-text {
    h4 {
      font-size: clamp(3rem, 16px, 1rem);
    }
  }

  .project-list {
    margin-top: 3rem;
    .mission {
      height: 350px;
      border-radius: 30px;
      width: 100%;
      padding: 10px;
      display: flex;
      // flex-direction: column;
      align-items: center;

      color: $white;
      &.mission {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.587),
            rgba(0, 0, 0, 0.586)
          ),
          url("../assets/mission.webp");
      }
      &.excursion {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.587),
            rgba(0, 0, 0, 0.586)
          ),
          url("../assets/excort.avif");
      }
      &.awareness {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.587),
            rgba(0, 0, 0, 0.586)
          ),
          url("../assets/seminar.jpg");
      }
      .miss-btn {
        margin: 30px 0 30px 0;
      }
    }
  }
}

.donations {
  margin-top: 9rem;
  background-color: $black;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .donations_inner {
    margin: auto;
    background: red;
    h5 {
      font-size: 2rem;
    }
    p {
      word-wrap: break-word;
    }
  }
}

.journey-carrier {
  .journey {
    margin-top: 4rem;
    border-radius: 10px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.676),
        rgba(0, 0, 0, 0.674)
      ),
      url("../assets/mission.webp");
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .journey-inner {
      align-items: center;
      justify-content: center;
      text-align: center;
      h4 {
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
  .events {
    margin-top: 5rem;
    h5 {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .calendar-box {
      height: 100px;
      border-radius: 10px;
      background-color: $volBtn;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      font-weight: bold;
      .calendar-inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .date {
          position: relative;
          bottom: 10px;
          h5 {
            font-size: 1.5rem;
            span {
              font-size: 18px;
            }
          }
        }
        .day-title {
          font-weight: bold;
          font-size: 1rem;
        }
        .calendar_btn {
          border-radius: 50%;
          height: 35px;
          width: 35px;
          background-color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          a {
            color: $black !important;
          }
        }
      }
    }
  }
}
