@import "../_variables.scss";

.hero-carrier {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.657),
      rgba(10, 10, 10, 0.787)
    ),
    url("../assets/happy.webp");
  .hero-inner {
    padding: 4rem 0;

    h2 {
      font-family: $Roboto;
      font-size: clamp(4rem, 14px, 1rem);
    }
    .hero-bottom {
      margin-top: 13rem;
      .line {
        width: 55%;
        height: 1px;
        background-color: $white;
      }
    }
  }
}

.middle-item {
  margin-top: 8rem;
  .middle-first {
    margin-top: 10rem;
    h4 {
      font-size: clamp(2.5rem, 24px, 1rem);
      font-weight: bold;
    }
    p {
      font-size: 1rem;
    }
  }
  .middle-inner-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.649)),
      url("../assets/happy.webp");
    height: 100vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .support-line {
    width: 86%;
    height: 1px;
    background-color: $black;
  }
}

.service_carrier {
  background-color: $medium;
  height: 115vh;
  margin-top: 4rem;

  .service-inner {
    margin-top: 4rem;
    h4 {
      font-size: clamp(2rem, 24px, 1rem);
    }
    p {
      font-size: 16px;
    }

    .service-list {
      margin-top: 2rem;
      .serv-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .serv-icon {
          height: 40px;
          width: 40px;
          background-color: $black;
          color: $medium;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          border-radius: 4px;
        }
        .serv-text {
          h5 {
            font-size: clamp(2rem, 24px, 1rem);
            font-weight: bold;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .head-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem;
    margin-top: 40px;
    img {
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
      object-position: 58% center;
      width: 100%;
    }
  }
}

.projects{
  margin-top: 10rem;
  .intro-text{
    h4{
font-size: clamp(3rem, 16px, 1rem);
    }
  }
}