@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "Roboto", sans-serif;
}

$white: snow;
$black: black;
$medium: #fcedc6;
$Inter: "Inter", sans-serif;
$Roboto: "Roboto", sans-serif;
$Courgette: "Courgette", cursive;
$volBtn:#F2C94C;

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-btn {
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1.4rem;
  a {
    font-size: clamp(1rem, 32px, 1rem);
    color: $black;
  }
  &.vol_btn {
    background-color:$volBtn ;
  }
}

.page-transparent-btn {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1.4rem;
  a {
    font-size: clamp(1rem, 32px, 1rem);
  }
}
